// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


$grid-breakpoints: (
  xs: 0,
  sm: 36em, // 576px,
  md: 48em, // 768px,
  lg: 62em, // 992px,
  xl: 75em, // 1200px,
  xxl: $container-width, // 1300px default
  xxxl: 100em // 1600px
) !default;